body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    z-index: 1;
}

.sound-button {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: white;
    outline: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.1s;
    z-index: 2;
}

.sound-button:active {
    transform: scale(0.95);
}

.note {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 20px;
    color: white;
    opacity: 0;
    animation: noteAnimation 3s linear forwards;
    z-index: 2;
}

@keyframes noteAnimation {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(100px, 100px);
    }
}

#add-sound-button,
#remove-sound-button,
#change-color-button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #589dd5;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

#add-sound-button:hover,
#remove-sound-button:hover,
#change-color-button:hover {
    background-color: #3282b7;
}

#file-input {
    display: none;
}

.logo {
    width: 212px;
    height: 100px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

#terms-container {
    position: fixed;
    bottom: 7%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    text-align: center;
    z-index: 3;
    font-size: 15px;
}

#terms-link {
    text-decoration: none;
    color: inherit;
}